<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/search" method="POST">
        <input type="text" name="search_value" placeholder="Search">
        <input type="submit" name="search" value="search">
        <input type="submit" name="select-all" value="select-all">
    </form>
    {% if list %}
    <ul>
        {% for item in items %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>